.Rproj.user
.Rhistory
.RData
.Ruserdata

Dolomedesplantarius/Dolomedesplantarius/*
Neonvalentulus/Neonvalentulus/*
Phelsumagrandis/Phelsumagrandis/*

*.models.out
proj_*

ef_current*
em_runs
gadm
model_runs
model.runs
ef.runs
ef.current
ef.future*
projection.current
projection.future*
em.runs
run.data
run_data
ef_future*
projection_*